<html>

    <head>
        <meta charset="utf-8"/>
        <title>Album Promo Vidéo 2014</title>
        <link href="../../css/main.css" rel="stylesheet" type="text/css">
        <!-- Chargement des librairies -->
        <script src="../../js/jquery.js" type="text/javascript"></script>
        <script src="../../js/pure.js" type="text/javascript"></script>
        <script src="../../js/jquery.cycle.all.js" type="text/javascript"></script>
        <script src="../../js/queryString.js" type="text/javascript"></script>
        <script src="../../js/arrayToSlides.js" type="text/javascript"></script>
        <!-- Chargement des données des images et vidéos -->
        <script src="../../data/display.js" type="text/javascript"></script>
        <script src="../../data/videos.js" type="text/javascript"></script>
    </head>

    <body>

        <div class="slideshow">

            <div class="slide">
                <div class="bkgd"></div>

                <div id="vp">
                    <div id="vp2">
                        <div id="superzone">
                            <ul class="buttonsmenu">
                                <li>
                                    <a href="#next" id="next">
                                        <img id="droite"/>
                                        <div>
                                            <img id="droite_hover"/>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#prev" id="prev">
                                        <img id="gauche"/>
                                        <div>
                                            <img id="gauche_hover"/>
                                        </div>
                                    </a>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li>
                                    <a>
                                        <img id="titre"/>
                                    </a>
                                </li>
                                <li>
                                    <a id="prevMenu">
                                        <img id="prevMenuImg"/>
                                        <div>
                                            <img id="prevMenuImg_hover" title="Retour au menu précédent"/>
                                        </div>
                                    </a>
                                </li>
                                <li></li>
                                <li>
                                    <a id="creditsLink" href="../credits/credits.html?type=menu">
                                        <img id="equipe"/>
                                        <div>
                                            <img id="equipe_hover" title="L'équipe"/>
                                        </div>
                                    </a>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="slideshowmenu">
                                <div class="slidemenu">
                                    <div class="imgzone">
                                        <img class="imgzoneimg"/>
                                    </div>
                                    <ul class="lb-album">
                                        <li class="menu-section">
                                            <a class="menu-section-link">
                                                <img alt="image01" class="menu-section-poster" src=""/>
                                                <div><img alt="play" class="menu-section-play" src=""/></div>
                                                <span class="menu-section-title"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- Chargement du controlleur -->
    <script src="menu.js" type="text/javascript"></script>
</html>
